/bin/*
/conf/*
/docs/*
/eclipse/*
/forge/*
/jars/*
/lib/*
/logs/*
/reobf/*
/runtime/*
/temp/*

/src/minecraft/*
/src/minecraft_server/*
/src/common/*
!/src/common/CCPortable/
!/src/minecraft/CCPortable/

*.bat
*.sh
